@import url('./assets/fonts/GeneralSans/WEB/css/general-sans.css');

@import url('./assets/fonts/FSMeridian/stylesheet.css');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: normal;

  background-color: #111826;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  margin: 16px auto;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  
}

